* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 40px;
}
/* -----------------------------------NAV-------------------------------------------------*/
nav {
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: rgb(248, 248, 248);
  padding: 20px 0px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.container-nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 400;
}
.desktop-menu {
  display: none;
}
.desktop-menu li {
  display: inline-block;
}
.mobile-menu {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2%;
  margin-top: 20px;
}
.mobile-menu li {
  margin: 15px 0px 15px 0px;
  list-style-type: none;
}
nav a:hover {
  color: rgb(206, 115, 115);
  transition: 0.4s;
}
a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 7px 13px;
}
.hide {
  display: none;
}
/* -----------------------------------HOME-------------------------------------------------*/
.home {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
.container-text {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  font-weight: 300;
}
.text {
  width: 100%;
  padding: 5%;
  text-align: center;
  font-size: 1rem;
}
.name {
  width: 100%;
  text-align: center;
  padding: 8%;
  font-size: 3.5rem;
  font-weight: 300;
}
hr {
  width: 70%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f0f0f02f,
    #ffffffb6,
    #ffffffb6,
    #f0f0f02f
  );
}
/* -----------------------------------ABOUT-ME-------------------------------------------------*/
.about-me {
  background-color: rgb(223, 223, 223);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-about-me {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  padding: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  margin-top: -150px;
  position: relative;
  transform: scale (0.6);
  transition: 0.5s;
}
.img-I img {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  border-radius: 50%;
  margin: auto;
}
.img-I {
  width: 100%;
  padding: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: none;
}
.txt-aboutme {
  width: 100%;
  padding: 20px;
  margin: auto;
}
h2 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 500;
}
.txt-aboutme p {
  font-size: 20px;
  font-weight: 300;
  color: #6e7373;
  font-family: "Open Sans", sans-serif;
  margin-top: 1.5rem;
}
.txt-aboutme ul {
  text-align: center;
  list-style-type: none;
  margin-top: 1.5rem;
}
.txt-aboutme li {
  display: inline-block;
  font-size: 2rem;
}
.txt-aboutme i {
  font-size: 1.2rem;
}
.txt-aboutme i:hover {
  color: rgb(206, 115, 115);
  transition: 0.4s;
}
.appear {
  opacity: 0;
  transform: all 0.2s;
}
.showUp {
  animation: showUp 0.6s;
}
@keyframes showUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
/* hide again */
@keyframes desaparecer {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.desaparecer {
  animation: desaparecer 0.9s;
}
/* desappear name */
.desappearName {
  opacity: 1;
  transform: all 0.2s;
}
.hideUp {
  animation: hideUp 5s;
}
@keyframes hideUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-600px);
  }
}
/* -----------------------------------MY-SERVICES-------------------------------------------------*/
.service {
  background-color: rgb(223, 223, 223);
  width: auto;
  padding: 80px 15px;
}
.head {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
.titles {
  padding-bottom: 10px;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #878d8d;
}
h2 {
  font-size: 30px;
  z-index: 1;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: 700;
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service hr {
  margin-top: 10px;
  width: 20%;
  border: 0;
  height: 1px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f0f0f02f,
    #5c5c5c,
    #5c5c5c,
    #f0f0f02f
  );
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  margin: 30px 15px;
}
.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.atras {
  transform: rotateX(180deg);
  padding: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  font-family: "open sans";
  background: rgb(206, 115, 115);
}
.card:hover {
  transform: rotateX(180deg);
}

.adelante h5 {
  width: 60%;
  padding: 11px 20px;
  background: #fff;
  font-size: 14px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  text-align: center;
}
.card1 {
  background-image: url("../imag/card.jpeg");
  background-size: cover;
}
.card2 {
  background-image: url("../imag/card1.jpg");
  background-size: cover;
}
.card3 {
  background-image: url("../imag/card3.jpg");
  background-size: cover;
}
.card4 {
  background-image: url("../imag/card5.jpg");
  background-size: cover;
}
.card5 {
  background-image: url("../imag/card4.jpg");
  background-size: cover;
}
.card6 {
  background-image: url("../imag/card2.jpg");
  background-size: cover;
}
/* -----------------------------------EDUCATION-------------------------------------------------*/
.education {
  background-color: rgb(255, 251, 251);
  width: auto;
  height: 100%;
  padding-top: 8%;
  justify-content: center;
}
.education hr {
  margin-top: 10px;
  width: 20%;
  border: 0;
  height: 1px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f0f0f02f,
    #5c5c5c,
    #5c5c5c,
    #f0f0f02f
  );
}
.b-box {
  padding: 1.5rem;
  margin-top: 1.5rem;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out 0s;
}
.b-box:hover {
  transform: translate(0px, -5px);
  transition: all 0.3s;
}
.subhead {
  margin: 40px 0 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.education h5 {
  font-size: 18px;
  font-weight: 500;
}
.padding {
  padding: 0px 15px 15px 15px;
}
h6 {
  background: rgb(206, 115, 115);
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0;
  color: #fff;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  letter-spacing: 1px;
}
p {
  color: #6e7373;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.education .container {
  padding: 0 15px;
  height: 100%;
}
.just-content {
  justify-content: center;
}
/* -----------------------------------HIRE-ME-------------------------------------------------*/
.hire-me {
  height: 60vh;
  background: url(../imag/work2gether.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}
.hire-me .container {
  background-color: rgb(255, 255, 255);
  height: 20%;
  z-index: 1;
}
.container2 {
  height: 60vh;
  width: auto;
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 h2 {
  font-size: 30px;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: 700;
  margin: 0 0 20px;
  text-align: center;
}
.container2 hr {
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f0f0f0b9,
    ffffffc5,
    #ffffffc5,
    #f0f0f0b9
  );
}
.btn-outline {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.btn {
  padding: 12px 50px;
  margin-top: 5%;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.5s;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 20%);
  border-radius: 2px;
  min-width: 140px;
}
/* -----------------------------------CAROUSEL-------------------------------------------------*/
.works {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item {
  padding-bottom: 2.5em;
}
.logo-skill {
  width: 150px;
  height: 100%;
  margin: 1em;
}
.carousel-item .card {
  height: 50vh;
  box-shadow: none !important;
  margin: 30px 15px;
  background-size: cover;
  width: 50vw;
  background-repeat: no-repeat;
  cursor: pointer;
}
.carousel-item .card:hover {
  transform: scale(1.1);
}
.carousel-indicators {
  display: flex;
  /* background: red; */
  width: auto;
  height: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.carousel-indicators li {
  background-color: rgb(102, 74, 74);
}
.carousel-indicators .active {
  background-color: rgb(218, 145, 145);
}
.project-1 {
  background-image: url("../imag/card3.jpg");
}

/* .carousel {
  max-width: 80vh;
  overflow: hidden;
}
.carousel .long-box {
  width: 400%;
  background-color: rgb(243, 241, 241);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.long-box .img-box {
  width: calc(100% / 4);
  height: 100%;
  align-items: flex-end !important;
}
.img-box img {
  width: 100%;
  height: 100%;
}
.carousel .points {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carousel .point {
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(206, 115, 115);
  border-radius: 50%;
  margin: 1em 1em 0;
  list-style: none;
}
.carousel .point.active {
  background-color: rgba(206, 115, 115, 0.486);
}
.on {
  position: absolute;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.575);
  width: calc(100% / 4);
  padding: 0.25em 0.4em;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.472);
  margin-bottom: 10px;
} */
/* -----------------------------------CONTACT-ME-------------------------------------------------*/
.contact-me {
  background-color: rgb(228, 228, 228);
  width: auto;
  height: 100%;
  padding: 8% 5% 0;
  justify-content: center;
}

.contact-me .container {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
.contact-details h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}
.information-card {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  padding: 1.5rem;
}
.information-card:hover {
  transform: translate(0px, -5px);
  transition: all 0.3s;
}
.wrap {
  flex-wrap: wrap;
}
.mb4 {
  margin-bottom: 1.5rem;
}
.information-card i {
  font-size: 30px;
  color: rgb(206, 115, 115);
}
.mt-2 {
  margin-top: 0.5rem;
  overflow: hidden;
  text-align: center;
  white-space: normal;
}
.information-card a {
  font-size: 18px;
  font-weight: 500;
  color: #6e7373;
  text-decoration: underline;
}
.information-card p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  margin-top: 1.25rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.contact-form h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}
.form-group {
  margin: 1rem 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
}
.form-control {
  padding: 15px 30px;
  height: auto;
  font-family: "Open Sans", sans-serif;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #eee;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  display: block;
  width: 100%;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
}
.message-input {
  height: 20vh;
}
.btn-send {
  text-align: center;
  margin: 1.5rem 0 3rem;
}
.contact-me button {
  padding: 12px 50px;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: #fff;
  box-shadow: none;
  text-transform: uppercase;
  outline: none !important;
  background-color: rgb(206, 115, 115);
  border: 1px solid transparent;
  box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 20%);
  border-radius: 2px;
  min-width: 140px;
  text-align: center;
}
/* -----------------------------------FOOTER-------------------------------------------------*/
footer {
  width: 100%;
  height: 12vh;
  background-color: rgb(228, 228, 228);
  text-align: center;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 10));
    transform: translateX(calc(-250px * 10));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 10));
    transform: translateX(calc(-250px * 10));
  }
}
.slider {
  background: white;
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 95%;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  width: calc(100% / 5);
  height: 50px;
}
.border-yellow {
  height: max-content;
  overflow-x: scroll;
  background: #cd8b39;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box-slide {
  padding: 1em;
  background: #cd8b39;
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 0px 0.5px 0px 0.5px red;
}

/* ---------------------------------------------RESPONSIVE--------------------------------------------- */
@media (min-width: 567px) {
  /* Home */
  .text {
    font-size: 1.2rem;
  }
  .name {
    font-size: 4.3rem;
  }
  /* About me */
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .img-I {
    display: initial;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* Nav */
  .burger-icon {
    display: none;
  }
  .desktop-menu {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  /* Home */
  .text {
    font-size: 1.3rem;
  }
  .name {
    font-size: 5rem;
  }
  /* Contact me */
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
}
